.txt-img-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-container, .img-container{
    width: 50%;
    height: 100%;
    margin-top: 50px;
}

.txt-container-heading{
    font-size: 1.8rem;
    color: #1976d2;
}

.txt-container-txt{
    width: 80%;
    align-items: left;
    font-size: 1.2rem;
}


.img-container-img{
    margin-top: 10%;
    min-width: 100%;
    height: 80%;
    object-fit: fill;
    border-radius: 20px;
}