.resource-container{
    width: 100%;
    height:50vh;
    display: flex;
    flex-direction: column;
    object-fit: contain;
}

.rbg-img{
    background:transparent;
    filter: brightness(40%);
    width: 100%;
    height: 80vh;
    clip-path: ellipse(91% 66% at 54% 31%);
}


.resource-container > h1 {
    color: #fff;
    font-size: 90px;
    margin-top:-25% ;
    z-index: 2;
    text-align: center;
}

.resource-container > p {
    color: #fff;
    font-size: 32px;
    margin-top: 2px;
}

.br-bg{
    background-color: rgb(255, 255, 255);
    height:10vh ;
}

.r-form-btn-container{
    width: 100%;
    text-align: center;
}
