.card-wrapper{
    width: 80%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

.single-card{
    padding: 0px 10px;
}

@media only screen and (max-width: 768px) {
    .card-wrapper{
        flex-direction: column;
        height: auto;
    }
}
