.card-wrapper{
    width: 100%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-card{
    padding: 10px 10px;
}

@media only screen and (max-width: 768px) {
    .card-wrapper{
        flex-direction: column;
        height: auto;
    }
}
