.mainImg {
    object-fit: cover;
    margin:60px auto ;
    width: 650px;
    display: flex;
    justify-content: center;
}

.cp-form-btn-container{
    width: 100%;
    text-align: center;
}