.card{
    box-shadow: 0 5px 26px 0 rgb(68 88 144 / 14%);
    border: 1px solid white;
    height: 200px;
    overflow: hidden;
    width: 280px;
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    transition: 0.3s all;
}

.card:hover{
    border: 1px solid rgb(45, 161, 228);
    transition: 0.3s all;
}
