.admin-sidebar-container{
    position: absolute;
    height: 100vh;
    width: 250px;
    left: 0;
    padding: 15px 20px;
}

.admin-sidebar-props{
    background-color: #404258;
    color: #eee;
    font-weight: lighter;
    font-size: 1rem;
}

.admin-page{
    background-color: #474E68;
    height: 100vh;
    width: calc(100vw-250px);
}

.admin-sidebar-content{
    padding: 10px 20px;
    border-bottom: 1px solid gray;

}

.admin-sidebar-content > ul > li{
    width: 100%;
    list-style-type: none;
    padding: 10px 20px;
    background: #404258;
    color: #eee;
}

.admin-sidebar-content > ul > li:hover{
    background: #474E68;
    cursor: pointer;
    transition: 0.3s all;
    
}

.managing-container{
    width: 850px;
    height: 550px;
    
    box-shadow: 0 0 15px #d35400;
    position: absolute;
    top: 55%;
    left: 55%;
    transform: translate(-50%, -50%);
    border:2px solid #d35400;
    border-radius: 20px;
}

.admin-manage-comp-heading{
    color: #ffa502;
    font-size: 3rem;
    padding: 20px 40px;
    font-weight: lighter;

}

.admin-btn-container{
    text-align: center;
    margin: 30px auto;
    color: #eee;
    font-size: 2rem;
    font-weight: lighter;
    border: 2px solid #d35400;
    width: 90%;
    padding: 15px;
}

.admin-manage-btn{
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.admin-btn-container:hover{
    cursor: pointer;
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;

}