.admin-sidebar-container{
    position: absolute;
    height: 100vh;
    width: 250px;
    left: 0;
    padding: 15px 20px;
}

.admin-sidebar-props{
    background-color: #404258;
    color: #eee;
    font-weight: lighter;
    font-size: 1rem;
}

.admin-page{
    background-color: #474E68;
    height: 100vh;
    width: calc(100vw-250px);
}

.admin-sidebar-content{
    padding: 10px 20px;
    border-bottom: 1px solid gray;

}


.managing-container{
    width: 1200px;
    height: 650px;
    
    position: absolute;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.admin-manage-comp-heading{
    color: #ffa502;
    font-size: 2rem;
    padding: 30px 0px;
    font-weight: lighter;

}

.admin-btn-container{
    text-align: center;
    margin: 30px auto;
    color: #eee;
    font-size: 2rem;
    font-weight: lighter;
    border: 2px solid #d35400;
    width: 90%;
    padding: 15px;
}

.admin-manage-btn{
    height: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.admin-btn-container:hover{
    cursor: pointer;
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;

}

.admin-sb-btn{
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: lighter;
    display: block;
    padding: 10px 15px;
    outline: none;
    width: 100%;
    
}

.admin-sb-btn:hover{
    cursor: pointer;
    background: #474E68;
    transition: 0.3s all;

}