.content-wrapper{
    width: 100%;
    position: relative;
}
.bg-img{
    background:transparent;
    filter: brightness(50%);
    width: 100%;
    height: 80vh;
    z-index: -1;
}

.content{
    position: absolute;
    top: 30%;
    left: 50%;
    color: #fff;
    height: 150px;
    border: 1px solid white;
}

.heading{
    
}
