.mainImg {
    width: 100%;
    height: 20vh; /* Adjust the height as needed, this will cover 50% of the viewport height */
    object-fit: cover;
}

.cp-form-btn-container{
    width: 100%;
    text-align: center;
}

.lib-table{
    width: 100%;
    height: 600px;
    padding: 20px 30px;
}

.lib-heading{
    text-align: center;
    padding: 20px 0px;
    font-size: 3rem;
    font-weight: bolder;
}